@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
body{
    line-height: 1.4;
    color: #3c393d;
}
img{
    width: 100%;
    display: block;
}
.container{   
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}

/* header */
header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/cover.jpg) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.navbar{
    
    background: #2b2b2b;
    padding: 1.2rem;
}

.navbar-nav{
    padding: o.5rem 0 0.2rem 0;
    text-align: right;
}
.navbar-nav a{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 0.5rem;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;
}
.navbar-nav a:hover{
    opacity: 0.7;
}
.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #faf2f2;
}
.banner-title{
    font-size: 80px;
    line-height: 1.2;
}




/* design */
.design{
    
    padding: 1.0rem 0;
}
.title{
    text-align: center;
    padding: 2rem 0;
}
.title h2{
    font-family: 'Playfair Display', serif;
    font-size: 2.4rem;
}
.title p{
    text-transform: uppercase;
    padding: 0.6rem 0;
}
.design-content{ 
    display: flex;
    flex-direction: row;  
    margin: 2rem 0;
}

.design-img{
    margin-right: 20px;
    position: relative;
    overflow: hidden;
}

.design-img img{
    transition:  all 0.5s ease;
}
.design-item:hover img{
    transform: scale(1.2);
}

.design-title{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.design-title p{
    color: #3c393d;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Playfair Display', serif;
}
/* New section CSS */
.new-section {
    padding: 1.0rem 0;
   
}

.new-content {
    display: flex;
    justify-content: center;
    gap: 36px;
    
    
}

.new-section .design-item {
    margin: 1.5rem 0;
    max-width: 430px;
    
}

.new-section .design-img {
    position: relative;
    overflow: hidden;
}



.new-section .design-img img {
    transition: all 0.5s ease;
}

.new-section .design-item:hover img {
    transform: scale(1.2);
}

.new-section .design-title {
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.new-section .design-title p {
    color: #3c393d;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Playfair Display', serif;
}





/* about */
.about{
    padding: 4.5rem 0;
    font-family:'Quicksand', sans-serif;
}
.about-text{
    margin: 2rem 0;
    flex: 1;
    padding: 20px;
    
}
.about-text >p{
    font-size: 1.1rem;
    padding: 0.6rem 0;
    opacity: 0.8;
    text-align: center;
    
}
.about-content {
    display: flex;
    flex-direction: row;
    
    
}
.about-img{
    margin-right: auto;
    
}

/* footer */
footer{
    background:#2b2b2b;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}
.social-links{
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
}
.social-links a{
    border: 2px solid #fff;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all 0.5s ease;
}

.social-links a:hover{
    background: #fff;
    color: #2b2b2b;
}
.footer span{
    margin-top: 1rem;
    display: block;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
}
.contact {
    width: 100%;
    height: 100%;
}

.contact-container {
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-box {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100%;
}
 
.contact-form {
    width: 50%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    border-style: solid;
    border-color: #3c393d;
    border-radius: 10px;
}


.contact-form form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: none;
}

.contact-form form h1 {
    font-family: 'Quicksand', sans-serif;
    border-bottom: 2px solid #09080a4c;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 55%;
    height: 40px;
    margin: 15px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid rgb(124, 124, 124);
    font-family: 'Open Sans';
    font-size: 15px;
    outline: none; 
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus {
    border-bottom: 2px solid #09080a4c;
    outline: none; 
}

form input[type="submit"] {
    width: 55%;
    height: 40px;
    margin: 16px;
    border: 0;
    border-radius: 10px;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #2b2b2b;
    outline: none; /
}

form input[type="submit"]:focus {
    outline: none; 
   
}
form input[type="submit"]:hover {
    opacity: 0.9;
   
}
    

form textarea {
    border: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 50px;
    width: 55%;
    border-bottom: 2px solid rgb(124, 124, 124);
    font-family: 'Open Sans';
    font-size: 15px;
    outline: none; 
}

form textarea:focus {
    outline: none; 
}


.description{
   text-align: center;
   margin-top: 30px;
   margin-bottom: 50px;
}


.tbl {
   margin-left: auto;
   margin-right: auto;
}

.table {
   padding: 2rem;

}

.new-box {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    margin-right: 2rem;


}

.talent {
    text-align: center;
    background-color: lightblue; 
    border: 2px solid #ddd; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 20px;
}


.styled-button {
    background-color: rgb(31, 159, 250);/
    border: none; 
    color: white;
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 16px; 
    margin: 4px 2px;
    cursor: pointer; 
    border-radius: 5px;
}

.styled-button:hover {
    background-color: black;
}

.my {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content: space-around;
}

.sft {
    text-align: center;
    background-color: lightblue;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    flex: 1; 
    margin: 10px; 
    min-width: 250px; 
    max-width: 300px; 
}


